.appBar {
  background-color: gold;
  border: 0;
  height: 1%;
  padding: 0;
}

.toolbar {
  margin: 0;
  padding: 0;
}

.buttonStyle {
  border: 2px solid black;
  margin-left: 2%; /* Use percentage for margin */
  padding: 5px 8px 5px 8px; /* Adjust padding as needed */
  margin-right: 1%;
  min-width: 130px;
  border-radius: 20px;
  font-size: 12px;
  background-color: yellow;
  color: black;
  transition: background-color 0.3s, color 0.3s;
}

.buttonStyle:hover,
.buttonStyle:active,
.buttonStyle:focus {
  background-color: #91760b;
  color: white;
}

.buttonStyle:first-child {
  margin-left: 0;
}

#headerSearch {
  background-color: white;
  padding-left: 10px;
}

/* Add media queries for responsive font sizes and other styles as needed */
@media screen and (max-width: 768px) {
  .buttonStyle {
    font-size: 14px;
  }
}
