.theRealBG{
    padding-left: 40px;
}

.appBookBg {
    display: flex; /* Use flex container */
    height: 590px;
}

.sideNav {
    width: 20%;
    background-color: rgb(223, 190, 57);
    text-align: center;
    border-right: 1px solid;
}

.sideNavButtons{
    margin-top: 60%;
}

.mainBody {
    flex: 1; /* Take up remaining space */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* background-image: url('C:/Users/jessr/Documents/GitHub/appDev/appdev/public/appointmentBg.png'); */
}

.outsideOuterSquare{
    margin-top: 30px;
    width: 40%;
}

.appBookOutSquare {
    padding: 20px;
    background-color: rgb(252, 242, 193);
    width: 96%;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 0px;
}

.appBookInSquare{
    background-color: rgb(252, 246, 218);
    padding: 10px;
}

.inputArea{
    background-color: white;
    
}

.inputContainer {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 5px;
    padding: 10px;
}

.inputField{
    flex: 0 0 30%; /* Each takes half of the container width */
    font-weight: bold;
}
.inputData{
    flex: 0 0 60%; /* Each takes half of the container width */
}

.inputField {
    text-align: left;
    padding: 0px;
}

.inputData {
    padding-left: 10px; /* Adjust as needed for spacing */
    text-align: left;
}

.inputArea {
    width: 100%;
    box-sizing: border-box;
}

.btnForms{
    width: 25px;
}

.btnBack,
.btnClear,
.btnNext{
    background-color: rgb(223, 190, 57);
    border-radius: 10px;
    margin: 0px 20px 0px 20px;
}

.appListBtnList {
    transition: background-color 200ms; /* 300ms duration for background-color transition */
    background-color: rgb(212, 201, 158);
}

.appListItem {
    overflow: scroll; /* Add this line to make the container scrollable */
    max-height: 200px;
  }



.appListLinkToAppointment:hover{
    cursor: pointer;
    background-color: rgb(112, 107, 85);
    color: white;
}

.appListLinkToAppointment{
    align-items: center;
    border: none;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    align-content: center;
    background-color: rgb(212, 201, 158);
    margin-bottom: 3px;
}

.appListInSquare{
    background-color: rgb(252, 246, 218);
    padding: 10px;
    max-height: 300px;
}

.appListList{
    max-height: 270px;
    overflow: scroll;
}

/* CSS FOR View Specific Appointment */

.appViewSelectOutSquare{
    padding: 20px;
    background-color: rgb(255, 228, 121);
    width: 96%;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 0px;
    margin-top: 60px;
    text-align: left;
    padding: 10px;
}

.appViewSelectInSquare{
    width: 92%;
    padding: 30px;
    padding-top: 3px;
    display: flex;
    height: 400px;
}

.appViewSelectLeftSquare{
    background-color: rgb(252, 246, 218);
    width: 47%;
    border-radius: 30px;
    align-items: center;
    text-align: center;
    align-content: center;
}

.appViewSelectRightSquare{
    background-color: rgb(252, 242, 193);
    border-radius: 30px;
    width: 47%;
    margin-left: 6%;
    
}

.appViewSelectOutsideOuterSquare{
    margin-top: 10px;
    width: 70%;
}

.appViewSelectHeader{
    font-size: 23px;
    font-weight: bold;
}

.appViewSelectRightSquare{
    text-align: center;
    display: block;
    align-items: center;
    text-align: center;
}

.appViewSelectBtnModify{
    box-shadow: 2px 2px 0px 2px rgb(137, 56, 52);
    margin-top: 10px;
    width: 150px;

}

.appViewSelectBtnCancel{
    box-shadow: 2px 2px 0px 2px rgb(223, 190, 58);
    width: 150px;
    
}

.appViewSelectImg{
    width:87%;
}

.appViewSelectIcons{
    width: 30px;
}

.appViewSelectBoxForContent{
    display: block;
    width: 60%;
    margin-left: 20%;
    text-align: center;
}

.appViewSelectContentContainer {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    word-wrap: break-word;
    overflow-wrap: break-word; /* Alternative to word-wrap: break-word; */
    max-width: 100%; /* Optionally, set a maximum width for the container */
    font-weight: bold;
    text-align: left;
}

.appViewSelectReminders{
    text-align: center;
    margin-top: 10%;
    font-weight: bold;
}

.appViewSelectReminders2{
    color: rgb(168, 0, 0);
    width: 60%;
    font-size: 13px;
    margin-left: 20%;
    margin-top: 5%;
    font-style: italic;
    font-weight: bold;
}   


.appViewSelectContent {
    margin-left: 2%;
}