body{
    background-color: rgb(255, 237, 149);
}

.onsiteBG {
    display: flex;
}

.rightSide {
     flex: 1; /* Take up the remaining space */
    margin-left: 60px;
}
.leftSide {
    width: 45%; /* Set the width to cover the left side */
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column; /* Arrange the content in a column */
    margin-top: 50px;

}

.pair {
    display: flex;
    align-items: center; /* Center the content vertically */
    margin-bottom: 30px;
}

.number {
    margin-right: 10px; /* Adjust margin as needed */
}


.half {
    flex: 1;
    display: flex;
    align-items: center; /* Center the content vertically */
}

.number {
    margin-right: 10px; /* Adjust margin as needed */
}

.numContent {
    flex: 1; /* Take up the remaining space */
}

.contentTitle{
    text-align: right;
    margin: 2px;
}

.description{
    width: 95%;
    margin-left: 20px;
    margin-top: 10px;
    text-align: justify;
    font-style: italic;
    font-size: 17px;
}
.darkSquare{
    background-color: rgb(252, 242, 193);
    height: 600px;
    margin-top: 30px;
    border-radius: 40px;
    width: 92%;
    padding: 30px;
    text-align: center;
}

.lightSquare{
    background-color: rgb(252, 246, 218);
    height: 550px;
    border-radius: 30px;
    padding: 30px;
}

.onsiteImg{
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
}
